html, body{
  margin: 0;
  padding: 0;
}

canvas#graphCanvas {
  border-style: solid;
  border-width: 1px;
  width: 640;
  height: 480;
}

iframe#resultFrame {
  width: 338px;
  overflow: visible; 
}

div.content {
  width: 1000px;
  padding: 10px;
  margin: auto;
}

div.instructions{
  width: 338px;
  float: right;
}
